@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Passion+One&family=Raleway:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Raleway;
}

p {
    color: white;
}

.banner {
    height: 605px;
    width: 100%;
    border-bottom: 2px solid #1572B7;
    background-image:  url(images/banner.png), linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(49, 168, 221, .3) 50%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 268px;
    border-radius: 50%;
    background: rgba(52, 52, 52, 0.3);
}

h1 {
    width: 434px;
    height: 47px;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;

}

.banner p {
    width: 510px;
    height: 46px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.48px;
}

button {
    cursor: pointer;
    width: 326px;
    height: 57px;
    border: 2px solid;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
}

.banner h1,
.banner button {
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#course-content {
    background: #000000;
    height: 605px;
}

h2 {
    color: #33A8DB;
    font-size: 36px;
    font-weight: 700;
}

#course-content p {
    width: 792px;
    height: 38px;
}

.module {
    background: #252525;
    width: 535px;
    height: 51px;
    border-radius: 51px;
    border: 1px solid #33A8DB;
    margin-top: 20px;   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.module span {
    color: #33A8DB
}

#transform-world {
    height: 363px;
    background-image: url(images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#professional-challenges {
    height: 850px;
    background: #000000;
}

#professional-challenges p {
    width: 792px;
    height: 76px;
}

footer {
    border-top: 3px solid #1572B7;
    width: 100%;
    height: 170px;
    background: linear-gradient(#000000, rgba(59, 161, 205, .8));
    font-size: 16px;
}
footer p a{
    text-decoration: none;
    color: #33A8DB;
}

.banner-content,
footer,
#professional-challenges,
.banner,
#course-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#professional-challenges p,
#course-content p,
footer p {
    font-weight: 400;
    font-size: 16px;
}

